

  :root{

    --branco: white;
    --cor-de-fundo: #000000;
    --fundo-senha: #eb0000;
    --fundo-texto: #001E40;
    --borda: #ffbb00;
    --reboto: 'Roboto Mono' monospace;
    
  }

  body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--reboto);
  }

  .titulo-principal{

   font-family: var(--reboto-mono);
   font-size: 32px;


  }